<% if logged_in? %>
    <form action='/teams' method='post'>
    City Name:
    <input type="text" name="city">
    Team Name:
    <input type="text" name="name">
    <input type="submit" name="Submit">

<% else %>
    <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>